@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 45px;
  color: #f7f1ee;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

h2, h3 {
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
}

h3 {
  font-family: "Roboto", sans-serif;
}

.style-parrafos, .style-parrafos-prod {
  font-family: "Roboto", sans-serif;
  font-size: 112%;
}

.style-parrafos-prod {
  font-size: 130%;
}

.card-border {
  border: solid 2px #fdfcfc;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.card-border:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.imgNosotros {
  height: 350px;
  width: 360px;
  border-radius: 50%;
}

.button, .button-menu {
  text-align: center;
  background-color: #343a40;
  color: #f7f1ee;
  width: 90%;
  height: 40px;
  cursor: pointer;
  margin-bottom: 100px;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
}

.button-menu {
  height: 60px;
  font-size: 40px;
}

#backgroundHeader {
  background-image: url("../img/pag/index.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
}

#mascara {
  background-color: rgba(0, 0, 0, 0.6);
}

#logo {
  max-width: 100%;
  height: auto;
  width: 400px;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

#navegation {
  font-family: "Roboto", sans-serif;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background-size: cover;
  padding: 10px;
}

#navegation a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #f7f1ee;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
}

#navegation a:hover {
  color: #f39f67;
}

.form {
  font-family: "Roboto", sans-serif;
}

.form input {
  color: #f7f1ee;
}

.form textarea:focus, .form input:focus, .form input[type]:focus {
  border-color: #f7f1ee;
  -webkit-box-shadow: 0 1px 1px rgba(255, 241, 232, 0.5) inset, 0 0 8px rgba(255, 238, 227, 0.6);
          box-shadow: 0 1px 1px rgba(255, 241, 232, 0.5) inset, 0 0 8px rgba(255, 238, 227, 0.6);
  outline: 0 none;
}

.form label {
  color: #f7f1ee;
}

.check {
  background-color: #f7f1ee;
}

.icono {
  width: 40px;
  margin-right: 5px;
}

.icono2 {
  width: 15px;
  margin-right: 8px;
}

.animate__animated .animate__pulse {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-name: pulse;
          animation-name: pulse;
}

.animate__animated .animate__fadeInDown {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}
