* {
  margin: 0;
  padding: 0; }

/* index.html / HEADER */
#backgroundHeader {
  background-image: url("../img/pag/index.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px; }

#mascara {
  background-color: rgba(0, 0, 0, 0.6); }

/* index.html / LOGO */
#logo {
  max-width: 100%;
  height: auto;
  width: 400px;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto; }

/* index.html / titulo principal */
h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  text-align: center;
  color: #ddbea9;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto; }

/* index.html / BARRA NAVEGACION */
#navegation {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
  background-size: cover;
  padding: 10px; }

#navegation a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #dfc7b7;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px; }

#navegation a:hover {
  color: #f39f67; }

/* index.html / MAIN-CARDS */
.card-border {
  border: solid 2px #fdfcfc;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.2s; }

.card-border:hover {
  transform: scale(1.05); }

h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', cursive; }

/* nosotros.html */
.imgNosotros {
  height: 360px;
  width: 350px;
  border-radius: 50%; }

.style-parrafos {
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

/* contacto.html / FORMULARIO */
.form {
  font-family: 'Roboto', sans-serif; }

.form input {
  color: #dfc7b7; }

.form textarea:focus, input:focus, input[type]:focus {
  border-color: #dfc7b7;
  box-shadow: 0 1px 1px rgba(255, 241, 232, 0.5) inset, 0 0 8px rgba(255, 238, 227, 0.6);
  outline: 0 none; }

.form label {
  color: #dfc7b7; }

.check {
  background-color: #dfc7b7; }

.button {
  color: #dfc7b7;
  font-size: 15px;
  width: 90%;
  height: 40px;
  cursor: pointer;
  margin-bottom: 100px; }

/* FOOTER */
.icono {
  width: 40px;
  margin-right: 5px; }

.icono2 {
  width: 15px;
  margin-right: 8px; }
