@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');

$color-general:#ddbea9 ;
$fuente-principal: 'Roboto', sans-serif;
$fuente-secundaria: 'Bebas Neue', cursive;